{% extends 'base.html.twig' %}

{% block title %}Compte Banni{% endblock %}

{% block body %}
<div style="text-align: center; margin-top: 50px;">
    <h1>Accès Refusé</h1>
    <p>{{ message }}</p>
</div>
{% endblock %}
